* {
  margin: 0;
  padding: 0;
  background: black;
}

html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
height: 100vh;
justify-content: center;
align-items: center;
text-align: center;
color: white;
font-size: 1rem;
}

.title {
font-size: 80px;
text-align: center;
margin-top: 5%;
padding-bottom: 5%;
font-family: courier;
}

.break {
float: left;
margin-left: 25%;
margin-top: -15%;
}

.session {
float: right;
margin-right: 25%;
margin-top: -15%;
}

.play {
margin-top: 2%;
}

.pause {
margin-top: 2%;
margin-left: 2%;
}

#reset {
margin-top: 2%;
margin-left: 3%;
}

.controlPanel {
text-align: center;
padding: 20px;
}

button {
color: white;
border: none;
}

.controls {
font-family: verdana;
margin-top: 15%;
}

#time-left {
font-size: 30px;
}

@media only screen and (max-width: 850px) {
#root {
  font-size: .5rem;
}
}

@media only screen and (max-width: 420px) {
.title {
  font-size: 40px;
}
#root{
  font-size: .25rem;
}
.fa {
  font-size: 20px;
}
}